.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
}

.five-day-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}