.green {
  background-color: green;
  width: 100px;
}

.yellow {
  background-color: orange;
  width: 100px;

}

.red {
  background-color: red;
  width: 100px;
}

.header-container {
  padding: 15px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.search-bar {
  padding: 30px;
  ;
}

.history-container{
  padding: 20px;
  width: 30%;
  float: inline-start;
}
.history button {
  display: list-item;
  background-color: #e7e7e7;
  color: black;
  border: 1px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 700px;
}

.current-container {
  display: list-item;
  flex: auto;
  float: right;
  width: 70%;
  box-sizing: border-box;
  border-style: double;
  border-color: black;
  position: relative;
  bottom: 110px;
} 

.search-container{
  padding: 20px;
  width: 30%;
  float: inline-start;
  /* box-sizing: border-box;
  border-style: double;
  border-color: black; */
} 
.five-day-container{
  /* display: list-item;
  flex: auto;
  float: right;
  width: 70%;
  box-sizing: border-box;
  border-style: double;
  border-color: black;
  position: relative;
  bottom: 100px; */
}
.button{ 
  padding: 10px;
  

} 
